apiVersion: v1
kind: Service
metadata:
  name: glance
  namespace: glances
spec:
  ports:
    - name: http
      port: 80
      protocol: TCP
      targetPort: http
  selector:
    app: glance
  type: ClusterIP
