# shellcheck shell=bash
use flake

export AWS_ACCESS_KEY_ID=$(sops decrypt --input-type yaml --extract '["access_key_id"]' vars/shared/tofunix-s3-secrets/tofunix-s3-secrets/value)
export AWS_SECRET_ACCESS_KEY=$(sops decrypt --input-type yaml --extract '["secret_access_key"]' vars/shared/tofunix-s3-secrets/tofunix-s3-secrets/value)
export NIX_SSHOPTS="-o IdentityAgent=${SSH_AUTH_SOCK}"
