apiVersion: argoproj.io/v1alpha1
kind: Application
metadata:
  name: metallb
  namespace: argocd
spec:
  destination:
    namespace: metallb-system
    server: https://kubernetes.default.svc
  project: default
  source:
    path: ./taghmata/manifests/prod/metallb
    repoURL: https://github.com/apetrovic6/omnissiah.git
    targetRevision: master
  syncPolicy: {}
