apiVersion: argoproj.io/v1alpha1
kind: Application
metadata:
  name: cert-manager
  namespace: argocd
spec:
  destination:
    namespace: cert-manager
    server: https://kubernetes.default.svc
  project: default
  source:
    path: ./taghmata/manifests/prod/cert-manager
    repoURL: https://github.com/apetrovic6/omnissiah.git
    targetRevision: master
  syncPolicy:
    automated:
      prune: true
      selfHeal: true
