apiVersion: v1
data:
  jwt-key.pem: LS0tLS1CRUdJTiBQUklWQVRFIEtFWS0tLS0tCk1DNENBUUF3QlFZREsyVndCQ0lFSUVSMkFEd0tnaEdNcVBzWklEMkhwa0o1ZU0wbEt0WTlFNlVuMU4wNGJVWloKLS0tLS1FTkQgUFJJVkFURSBLRVktLS0tLQo=
kind: Secret
metadata:
  annotations:
    helm.sh/resource-policy: keep
  labels:
    app.kubernetes.io/instance: garage-ui
    app.kubernetes.io/managed-by: Helm
    app.kubernetes.io/name: garage-ui
    app.kubernetes.io/version: v0.1.2
    helm.sh/chart: garage-ui-0.1.13
  name: garage-ui-jwt-key
  namespace: garage
type: Opaque
