apiVersion: v1
kind: Service
metadata:
  labels:
    app.kubernetes.io/instance: garage-ui
    app.kubernetes.io/managed-by: Helm
    app.kubernetes.io/name: garage-ui
    app.kubernetes.io/version: v0.1.2
    helm.sh/chart: garage-ui-0.1.13
  name: garage-ui
  namespace: garage
spec:
  ports:
    - name: http
      port: 80
      protocol: TCP
      targetPort: http
  selector:
    app.kubernetes.io/instance: garage-ui
    app.kubernetes.io/name: garage-ui
  type: ClusterIP
