apiVersion: collectors.grafana.com/v1alpha1
kind: Alloy
metadata:
  name: default
  namespace: observability
spec:
  alloy:
    clustering:
      enabled: true
      name: omnissiah
  configMap:
    content: |
      discovery.kubernetes "operator_pods" {
        role = "pod"

        namespaces {
          names = ["operator"]
        }

        selectors {
          role  = "pod"
          label = "app.kubernetes.io/name=alloy-operator"
        }
      }

      prometheus.exporter.self "default" {}

      prometheus.scrape "default" {
        targets    = prometheus.exporter.self.default.targets
        forward_to = [prometheus.remote_write.local_prom.receiver]
      }

      # prometheus.remote_write "local_prom" {
      #   endpoint {
      #     url = "http://prometheus-server.prometheus.svc:9090/api/v1/write"
      #   }
      # }
  controller:
    replicas: 3
    type: daemonset
  ingress:
    enabled: true
    hosts:
      - alloy.noosphere.uk
    ingressClassName: traefik
    tls:
      - alloy-tls
