apiVersion: postgresql.cnpg.io/v1
kind: Cluster
metadata:
  annotations:
    argocd.proj.io/sync-options: Prune=confirm,Delete=confirm
  name: pg-yarr
  namespace: yarr
spec:
  instances: 2
  managed:
    roles:
      - comment: Seerr User
        ensure: present
        login: true
        name: seerr
        passwordSecret:
          name: pg-seerr-password
        superuser: false
  monitoring:
    enablePodMonitor: true
  postgresql:
    parameters:
      log_statement: ddl
      max_connections: "200"
      shared_buffers: 1GB
  primaryUpdateStrategy: unsupervised
  storage:
    size: 1Gi
    storageClass: longhorn-cnpg-strict-local
  walStorage:
    size: 1Gi
    storageClass: longhorn-cnpg-strict-local
