apiVersion: v1
kind: PersistentVolumeClaim
metadata:
  name: seerr-pvc
  namespace: yarr
spec:
  accessModes:
    - ReadWriteOnce
  resources:
    requests:
      storage: 2Gi
  storageClassName: longhorn
